<!DOCTYPE html>
<!--
  golang todo main.html
  Copyright ryuji.oike@gmail.com
-->
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spa Template for GAE</title>
  <link rel="shortcut icon" href="icon.png">
  <!-- stylesheets -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel='stylesheet' href='todo.css'>
  <!-- third-party javascript -->
  <!-- our javascript -->
</head>
<body>
  <main id="spa">
    <article id="main-container">
      <div class="container">
        <div class="rounded-box">
          <a class="white rounded-box" href="#"> Log in</a>
        </div>          
        <h1 class="rounded-box charcoal">App Lists</h1>
        <ul class="grey rounded-box">
          <li><a class="white rounded-box" href="#">Todos</a></li>
          <li><a class="white rounded-box" href="#">Chat Room</a></li>
        </ul> 
        <div class="logs"></div>
      </div>
    </article>
  </main>
</body>
</html>
