<!DOCTYPE html>
<!--
  golang todos simplechat.html
  Copyright ryuji.oike@gmail.com
-->
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todos Apps</title>
  <link rel="shortcut icon" href="/images/icon.png">
  <!-- stylesheets -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel='stylesheet' href='todo.css'>
  <!-- third-party javascript -->
  <!-- our javascript -->
</head>
<body>
  <main id="spa">
    <article id="chat-container">
      <div class="container">
        <div class="rounded-box">
          <a class="white rounded-box" href="/admin"> Chat Room 管理 </a>
        </div>          
        <h1 class="rounded-box charcoal">Simple Chat Room</h1>
        <ul class="grey rounded-box">
          <li class="white rounded-box"><a>Kuwa Room Check In<a/></li>
          <li class="white rounded-box"><a>Roike Room Check In</a></li>
          <li class="white rounded-box"><a>Thirdpen Roome Check In</a></li>
        </ul> 
        <div class="logs">
          <div class="error rounded-box">login required</div>
        </div>
      </div>
    </article>
  </main>
</body>
</html>
